parameters:
	maria-stan:
		# Apparently this has to exist even if it's not used. Otherwise DI is not happy.
		db:
			host: 127.0.0.1
			port: 3306
			user: ''
			password: ''
			database: ''
		reflection:
			file:
		columnTypeOverrides: []
parametersSchema:
	maria-stan: structure([
		# Connection information for online DB reflection.
		db: structure([
			host: string()
			port: int()
			user: string()
			password: string()
			database: string()
		])
		reflection: structure([
			# Schema dump for file DB reflection.
			file: anyOf(string(), null)
		])
		# This option lets you narrow down the type of columns. It can be useful e.g. if some table has fixed data
		# and you use something like EntityId::* in your phpdocs. Of course it's your responsibility to make sure
		# that the type is actually correct.
		columnTypeOverrides: listOf(structure([
			# table.column
			column: string()
			# Any type that PHPStan can parse. Must be a subtype of the column type as returned by mysqli.
			# Column nullability is considered automatically, so you don't have to add null to the type.
			type: string()
		]))
	])
services:
	mariaStanDb:
		# make sure it doesn't conflict with other extensions
		autowired: false
		class: mysqli
		arguments:
			hostname: %maria-stan.db.host%
			username: %maria-stan.db.user%
			password: %maria-stan.db.password%
			database: %maria-stan.db.database%
			port: %maria-stan.db.port%
		setup:
			- options(::constant(MYSQLI_OPT_INT_AND_FLOAT_NATIVE), 1)
			- set_charset('utf8mb4')
	- MariaStan\Parser\MariaDbParser
	- MariaStan\DbReflection\InformationSchemaParser
	mariaDbFileDbReflection:
		class: MariaStan\DbReflection\MariaDbFileDbReflection
		autowired: false
		arguments:
			dumpFile: %maria-stan.reflection.file%
	mariaDbOnlineDbReflection:
		class: MariaStan\DbReflection\MariaDbOnlineDbReflection
		autowired: false
		arguments:
			mysqli: @mariaStanDb
	mariaDbReflection: @mariaDbOnlineDbReflection
	-
		class: MariaStan\Analyser\Analyser
		arguments:
			dbReflection: @mariaDbReflection
	- MariaStan\PHPStan\Type\MySQLi\DbToPhpstanTypeMapper
	-
		class: MariaStan\PHPStan\Helper\PHPStanReturnTypeHelper
		arguments:
			columnTypeOverrides: %maria-stan.columnTypeOverrides%
	- MariaStan\PHPStan\Helper\MySQLi\PHPStanMySQLiHelper
	functionInfoRegistryFactory: MariaStan\Database\FunctionInfo\FunctionInfoRegistryFactory
	-
		create: @functionInfoRegistryFactory::create()
