includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- phpstan-baseline.neon
parameters:
	phpVersion: 80100
	level: 9
	paths:
		- src
		- tests
	treatPhpDocTypesAsCertain: false
	excludePaths:
		- tests/*/data/*
	exceptions:
		check:
			missingCheckedExceptionInThrows: true
		uncheckedExceptionClasses:
			- 'MariaStan\Ast\Exception\InvalidAstException'
			- 'MariaStan\Ast\Exception\InvalidArgumentException'
			- 'MariaStan\PHPStan\Exception\InvalidArgumentException'
			- 'InvalidArgumentException'
			- 'ReflectionException'
	strictRules:
		# Ignore Dynamic call to static method PHPUnit\Framework\Assert::assertSame(). etc
		strictCalls: false
		# Ignore: Only booleans are allowed in an if condition, MariaStan\Parser\Token|null given etc
		booleansInConditions: false
		# Allow short ternary operator
		disallowedConstructs: false
	ignoreErrors:
		-
			message: '#.*throws checked exception.*#'
			path: tests/
		# Annoying unions:
		# mysqli methods can't return false: we have exceptions enabled.
		- '#mysqli_stmt\|false#'
		# query could return true instead of result for queries that don't product result set, but let's assume that
		# we know what we're doing.
		- '#bool\|mysqli_result#'
		- '#mysqli_result\|false#'
		# MariaDbParserOperatorTest.php tries to evaluate expression from AST. We're just hoping for the best.
		-
			message: '#.*operation.*results in an error#'
			path: tests/Parser/MariaDbParserOperatorTest.php
		-
			message: '# cast #'
			path: tests/Parser/MariaDbParserOperatorTest.php
		-
			# I'm explicitly creating GenericObjectType to append additional information to mysqli_stmt/mysqli_result.
			message: '#Doing instanceof PHPStan\\Type\\Generic\\GenericObjectType is error-prone and deprecated.#'
			path: src/PHPStan
