includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
	level: 9
	# Skip level 7 so that I don't have to deal with PHP's built-in functions.
	checkUnionTypes: false
	paths:
		- src
		- tests
	treatPhpDocTypesAsCertain: false
	excludePaths:
		- tests/*/data/*
	exceptions:
		check:
			missingCheckedExceptionInThrows: true
		uncheckedExceptionClasses:
			- 'MariaStan\\Ast\\Exception\\InvalidArgumentException'
			- 'InvalidArgumentException'
	ignoreErrors:
		-
			message: '#.*throws checked exception.*#'
			path: tests/
