parameters:
	ignoreErrors:
		-
			message: "#^Doing instanceof PHPStan\\\\Type\\\\Constant\\\\ConstantStringType is error\\-prone and deprecated\\. Use Type\\:\\:getConstantStrings\\(\\) instead\\.$#"
			count: 1
			path: src/PHPStan/Helper/MySQLi/PHPStanMySQLiHelper.php
