parameters:
	ignoreErrors:
		-
			rawMessage: 'Property MariaStan\Database\FunctionInfo\FunctionInfoRegistry::$functionInfoMap (array<non-decimal-int-string, MariaStan\Database\FunctionInfo\FunctionInfo>) does not accept array<string, MariaStan\Database\FunctionInfo\FunctionInfo>.'
			identifier: assign.propertyType
			count: 1
			path: src/Database/FunctionInfo/FunctionInfoRegistry.php

		-
			rawMessage: 'Doing instanceof PHPStan\Type\Constant\ConstantStringType is error-prone and deprecated. Use Type::getConstantStrings() instead.'
			identifier: phpstanApi.instanceofType
			count: 2
			path: src/PHPStan/Helper/PHPStanReturnTypeHelper.php

		-
			rawMessage: 'Generator expects key type non-decimal-int-string, literal-string&non-falsy-string given.'
			identifier: generator.keyType
			count: 2
			path: tests/Analyser/AnalyserTest.php

		-
			rawMessage: 'Generator expects key type non-decimal-int-string, non-falsy-string given.'
			identifier: generator.keyType
			count: 2
			path: tests/Analyser/AnalyserTest.php

		-
			rawMessage: Accessing PHPStan\Analyser\Analyser::class is not covered by backward compatibility promise. The class might change in a minor PHPStan version.
			identifier: phpstanApi.classConstant
			count: 1
			path: tests/PHPStan/Integration/PHPStanIntegrationTest.php

		-
			rawMessage: 'Calling PHPStan\Analyser\Analyser::analyse() is not covered by backward compatibility promise. The method might change in a minor PHPStan version.'
			identifier: phpstanApi.method
			count: 1
			path: tests/PHPStan/Integration/PHPStanIntegrationTest.php

		-
			rawMessage: 'Calling PHPStan\Analyser\AnalyserResult::getErrors() is not covered by backward compatibility promise. The method might change in a minor PHPStan version.'
			identifier: phpstanApi.method
			count: 1
			path: tests/PHPStan/Integration/PHPStanIntegrationTest.php

		-
			rawMessage: 'Call to function in_array() requires parameter #3 to be true.'
			identifier: function.strict
			count: 1
			path: tests/Parser/MariaDbParserOperatorTest.php

		-
			rawMessage: 'Call to method handle() of internal class PHPUnit\TextUI\Configuration\PhpHandler from outside its root namespace PHPUnit.'
			identifier: method.internalClass
			count: 1
			path: tests/updateTests.php

		-
			rawMessage: 'Call to method load() of internal class PHPUnit\TextUI\XmlConfiguration\Loader from outside its root namespace PHPUnit.'
			identifier: method.internalClass
			count: 1
			path: tests/updateTests.php

		-
			rawMessage: 'Call to method php() of internal class PHPUnit\TextUI\XmlConfiguration\Configuration from outside its root namespace PHPUnit.'
			identifier: method.internalClass
			count: 1
			path: tests/updateTests.php

		-
			rawMessage: Instantiation of internal class PHPUnit\TextUI\Configuration\PhpHandler.
			identifier: new.internalClass
			count: 1
			path: tests/updateTests.php

		-
			rawMessage: Instantiation of internal class PHPUnit\TextUI\XmlConfiguration\Loader.
			identifier: new.internalClass
			count: 1
			path: tests/updateTests.php
