<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
		 colors="true"
		 failOnWarning="true"
		 failOnPhpunitDeprecation="true"
		 displayDetailsOnPhpunitDeprecations="true"
		 bootstrap="tests/bootstrap.php"
>
	<php>
		<ini name="error_reporting" value="-1" />
		<ini name="assert.exception" value="1" />

		<!-- you can override these by editing them here, or creating a copy of the XML and passing it via `-c`, or
		 by setting the environment variables yourself (they're not overridden if they're already set). -->
		<env name="testdb_host" value="127.0.0.1" />
		<env name="testdb_port" value="3306"/>
		<env name="testdb_user" value="root" />
		<env name="testdb_password" value="root" />
		<!-- Make sure the database is used exclusively for purpose of these tests, data in it could be lost! -->
		<env name="testdb_dbname" value="mariastan_test" />
		<env name="testdb_dbname_2" value="mariastan_test2" />
	</php>

	<testsuites>
		<testsuite name="MariaStan Test Suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</source>
</phpunit>
