parameters:
	maria-stan:
		db:
			host: %env.testdb_host%
			port: int(%env.testdb_port%)
			user: %env.testdb_user%
			password: %env.testdb_password%
			database: %env.testdb_dbname%
	universalObjectCratesClasses:
		- MariaStan\PHPStan\Type\MySQLi\CustomUniversalObjectCrate

services:
	-
		class: MariaStan\PHPStan\Rules\MySQLi\MySQLiWrapperRule
		tags:
			- phpstan.rules.rule
